body {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 200;
  text-align: justify;
  text-justify: inter-word;
  background-color: rgb(244, 242, 247);
  #navbarid {
    opacity: 1;
    background-color: rgb(244, 242, 247);
    .scrolled {
      background: rgba(18,18,18, 1);
      color:  rgb(244, 242, 247);
    }
  }

  h1{
    font-weight: 600;
  }
  p{
  text-align: justify;
  }
  a{
  text-align: start;
  justify-content: start;
  }
}
.dark-mode {
  background-color:rgb(18,18,18);
  color:  rgb(244, 242, 247);
  box-shadow: #000 ;
  #navbarid {
    opacity: 1;
    background-color: rgb(18,18,18);

    .scrolled {
      background:rgba(244, 242, 247, 1);
      color: rgb(18,18,18);
    }
  }
}

// #task {
//   background-image: url("../UnderConstruction.png");
// }


// .slide-content .scroller {
//   width: 1024px;
// }

// * {
//   border: black solid 3px;
// }