.cv-pdf {
  display: flex;
  align-items: center;
  height: 100vh;
  background-color: rgb(244, 242, 247);
  embed {
    min-width: 800px;
    height: 100%;
    padding-top: 2em;
  }
  .cv-links {
    display: flex;
    flex-direction: column;
    a {
      margin: 1em;
    }
  }
}

.dark-mode {
  .cv-pdf {
    background-color: rgba(18, 18, 18, 1);
    a {
      color: white;
    }
  }
}
