.navbar-container {
  display: flex;
  flex-direction: row;
}


.switch {
  position: absolute;
  right: 0.8em;
  top:0.8em;
}

.button-navbar {
  background: rgba($black, 0);
  border-bottom: 1px solid;
  color: inherit;
  line-height: 1.4;
  padding: .8em .5em .3em .5em;
  text-decoration: none;
  margin-right: .75em;
  transition: 0.5s;

  &:hover {
    background: rgba($black, 1);
    color: $white;
    text-decoration: none;
 }
}
.dark-mode {
  .button-navbar {
    background: rgba($black, 0);
      
    &:hover {
      background: rgba($white, 1);
      color: $black;
   }
  }
}