.projectbox {
  display: flex;
  flex-direction: row;
  height: 100vh;


  .projectpic {
    width: 40vh;
    height:40vh;
    transition: 0.4s ease-out;
    &:hover {
      transform: translateY(-20px);
        &::before {
          opacity: 1;
        }
        .cardtext {
          opacity: 1;
          transform: translate(0px);
        }
      }
    img {
      height: 100%;
      width: auto;
      object-fit: contain;
    }

  }

}

.vertically-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
