.schools {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
}

.schoolsrow {
display: flex;
  .schoolscolumn {
  width: 50%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  padding:2em;
    .schoolbox {
      display: flex;
      flex-direction: column;
      img {
        height: 1em;
        padding-right: 0.3em;
      }
    }
  }
}