.schools {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  img {
    height: 1em;
    padding-right: 0.3em;
  }
  a {
    margin: 0;
    padding: 0;
  }
}
