<!DOCTYPE html>
<html lang="en">
{% seo %}
<head>
  <meta charset="UTF-8">
  <title>Louis Aude's website</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
  <!-- <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;1,100&display=swap" rel="stylesheet"> -->
</head>
<body>
  {{ content }}
</body>
</html> 