---
layout: meta
---
<body>
{% include navbar.html %}
  {{ content }}
  <script>
    (function () {
      if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches && sessionStorage.getItem('darkmode') === null ) {
      document.body.classList.add("dark-mode");
      document.getElementById("dmcheckbox").checked = false;
      sessionStorage.setItem('darkmode','true')
      }
      else if (window.matchMedia && window.matchMedia('(prefers-color-scheme: light)').matches && sessionStorage.getItem('darkmode') === null ) {
      document.body.classList.remove("dark-mode");
      document.getElementById("dmcheckbox").checked = true;
      sessionStorage.setItem('darkmode','false')
      }
      else if (sessionStorage.getItem('darkmode') === 'true'){
      document.body.classList.add("dark-mode");
      document.getElementById("dmcheckbox").checked = false;
      }
      else if (sessionStorage.getItem('darkmode') === 'false') {
      document.body.classList.remove("dark-mode");
      document.getElementById("dmcheckbox").checked = true;
       }
    })();
    function myFunction() {
    console.log(sessionStorage.getItem('darkmode'))
    if (sessionStorage.getItem('darkmode') === 'false') {
    sessionStorage.setItem('darkmode','true');
    document.body.classList.add("dark-mode");
  
    }
    else {
    sessionStorage.setItem('darkmode','false');
    document.body.classList.remove("dark-mode");
    }
  }
  // const gra = function(min, max) {
  //   return Math.random() * (max - min) + min;
// }
// const init = function(){
//   let items = document.querySelectorAll('section');
//   // for (let i = 0; i < items.length; i++){
//   //   items[i].style.background = randomColor({luminosity: 'light'});
//   }
//   // cssScrollSnapPolyfill()
// // }
// init();

let lastKnownScrollPosition = 0;
let ticking = false;

const navel = document.getElementById('navbarid');
let navbuttons = navel.querySelectorAll('a');

function highlightNav(scrollPos) {
  const deviceHeight = window.innerHeight
  console.log(scrollPos);
  console.log(deviceHeight);
      if ( scrollPos <= deviceHeight) {
      navbuttons[0].classList.add('scrolled')
      navbuttons[1].classList.remove('scrolled')
      navbuttons[2].classList.remove('scrolled')
      navbuttons[3].classList.remove('scrolled')
      } 
      else if (scrollPos <= deviceHeight * 2) {     
      navbuttons[0].classList.remove('scrolled')
      navbuttons[1].classList.add('scrolled')
      navbuttons[2].classList.remove('scrolled')
      navbuttons[3].classList.remove('scrolled')
      }
      else if (scrollPos <= deviceHeight * 3) {     
      navbuttons[0].classList.remove('scrolled')
      navbuttons[1].classList.remove('scrolled')
      navbuttons[2].classList.add('scrolled')
      navbuttons[3].classList.remove('scrolled')
      }
      else if (scrollPos <= deviceHeight * 4) {     
      navbuttons[0].classList.remove('scrolled')
      navbuttons[1].classList.remove('scrolled')
      navbuttons[2].classList.remove('scrolled')
      navbuttons[3].classList.add('scrolled')
      }   
}

document.addEventListener('scroll', function(e) {
  lastKnownScrollPosition = window.scrollY;

  if (!ticking) {
    window.requestAnimationFrame(function() {
      highlightNav(lastKnownScrollPosition);
      ticking = false;
    });

    ticking = true;
  }
});



  </script>
  </body>
  